[Desktop Entry]
Type=Application
Name=Kelletube
Exec=/usr/bin/kelletube
Icon=/usr/share/icons/kelletube/kelletube-logo.png
Comment=A music streaming app combining the power of music metadata providers & YouTube
Terminal=false
Categories=Audio;Music;Player;AudioVideo;
# MimeType=x-scheme-handler/spotify;